n8n/workflow.json
{
  "name": "Automated Reporting and Dashboards",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0f2f95a-7cc4-4569-96aa-42e2f1c2efef",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "daily_trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(() => {\n  const revenue = Number((Math.random() * 50000 + 50000).toFixed(2));\n  const previousRevenue = Number((Math.random() * 50000 + 45000).toFixed(2));\n  const changePct = previousRevenue > 0 ? ((revenue - previousRevenue) / previousRevenue) * 100 : 0;\n\n  return {\n    json: {\n      revenue,\n      previousRevenue,\n      changePct: Number(changePct.toFixed(2)),\n      anomalyScore: Math.min(100, Math.round(Math.abs(changePct) * 3)),\n      generatedAt: new Date().toISOString(),\n    },\n  };\n});"
      },
      "id": "build_kpi_snapshot",
      "name": "Build KPI Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{'You create executive KPI narratives. Return strict JSON with keys aiScore (0-100), priority (normal|watch|critical), summary (string). KPI payload: ' + JSON.stringify($json)}}",
        "options": {}
      },
      "id": "ai_reporting_agent",
      "name": "AI Reporting Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        730,
        220
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "openai_chat_model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        730,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const rawCandidate =\n    item.json.output ??\n    item.json.text ??\n    item.json.response ??\n    item.json.result ??\n    item.json;\n\n  let parsed = {};\n\n  if (typeof rawCandidate === 'string') {\n    try {\n      parsed = JSON.parse(rawCandidate);\n    } catch (error) {\n      parsed = { summary: rawCandidate };\n    }\n  } else if (rawCandidate && typeof rawCandidate === 'object') {\n    parsed = rawCandidate;\n  }\n\n  const pickNumber = (...keys) => {\n    for (const key of keys) {\n      const value = Number(parsed[key]);\n      if (Number.isFinite(value) && value > 0) return value;\n    }\n    return 0;\n  };\n\n  const pickString = (...keys) => {\n    for (const key of keys) {\n      const value = parsed[key];\n      if (typeof value === 'string' && value.trim()) return value.trim();\n    }\n    return '';\n  };\n\n  return {\n    json: {\n      aiScore: pickNumber('aiScore', 'score', 'riskScore', 'severityScore', 'readinessScore'),\n      aiPriority: pickString('priority', 'queue', 'recommendation', 'decision'),\n      aiSummary: pickString('summary', 'rationale', 'reason', 'triageSummary', 'recommendation') || 'ai_response_unavailable',\n      aiPayload: parsed,\n    },\n  };\n});"
      },
      "id": "parse_ai_output",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "merge_ai_with_snapshot",
      "name": "Merge AI with Snapshot",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        950,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const anomalyScore = Number(item.json.anomalyScore || 0);\n  const aiSummary = item.json.aiSummary || 'deterministic fallback summary';\n\n  return {\n    json: {\n      ...item.json,\n      severity: anomalyScore >= 70 ? 'critical' : anomalyScore >= 45 ? 'watch' : 'normal',\n      executiveSummary: aiSummary,\n    },\n  };\n});"
      },
      "id": "final_reporting_packet",
      "name": "Final Reporting Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1170,
        360
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "mode": "url",
          "value": "https://www.notion.so/00000000000000000000000000000000"
        },
        "title": "={{\"Daily KPI Brief | \" + ($json.severity || \"normal\") + \" | \" + ($json.generatedAt || \"\")}}",
        "simple": true
      },
      "id": "notion_exec_brief",
      "name": "Notion Exec Brief",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1390,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{\"owner@example.com\"}}",
        "subject": "Daily KPI Executive Summary",
        "message": "={{\"Revenue: \" + ($json.revenue || 0) + \"\\nChange: \" + ($json.changePct || 0) + \"%\\nSummary: \" + ($json.executiveSummary || \"N/A\")}}"
      },
      "id": "gmail_exec_summary",
      "name": "Gmail Exec Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1390,
        430
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.anomalyScore}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "anomaly_check",
      "name": "Anomaly Score High?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1170,
        520
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C01234567"
        },
        "messageType": "text",
        "text": "={{\"🚨 KPI anomaly detected | score \" + ($json.anomalyScore || 0) + \" | change \" + ($json.changePct || 0) + \"%\"}}"
      },
      "id": "slack_anomaly_alert",
      "name": "Slack Anomaly Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1390,
        560
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Build KPI Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build KPI Snapshot": {
      "main": [
        [
          {
            "node": "AI Reporting Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge AI with Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Reporting Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Reporting Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Merge AI with Snapshot",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI with Snapshot": {
      "main": [
        [
          {
            "node": "Final Reporting Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Reporting Packet": {
      "main": [
        [
          {
            "node": "Notion Exec Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Exec Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Anomaly Score High?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly Score High?": {
      "main": [
        [
          {
            "node": "Slack Anomaly Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
